.entry-title {
	display: none;
}
	ul {
	margin: 0%;
	padding: 0%;
}
.site-header {	
		height: 55px;
		width: 100%;
		background-color: white;
		position: sticky;
		top: 0;
		z-index: 99999;
		font-weight: 600;
		letter-spacing: 2px;
		text-align: center;

		.site-branding {

				float: left;
				margin: 0px 15px;
				height:auto;
				width:150px;

				h6 {
					margin: 3% auto 0% auto;
				}

			a {
				img {
					padding: 3%;
					height:50px;
					width:40px;
					margin: 0%;
				}
			}
		}
}

.main-navigation {
	display: block;
	width: 100%;
	height: auto;
	
	ul {
		list-style-type: none;
		display: none;
		float: right;
		margin-right: 15px;


		ul {
			list-style-type: none;
			display: none;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: right;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			margin-right: 5px;


			ul {
				left: -999em;
				top: 0;
				margin-right: 5px;

			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
				
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		&:hover {
			border-bottom: solid 2px black;
		}
		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		display: inline-block;
		color: #000;
		font-weight: bolder;
		text-transform: uppercase;
		margin: 20px 20px;
		font-weight: 600;

		&:hover {
			// border-bottom: solid 2px black;
		}

		&:active {
			color: black;
		}
	}

	

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle {
    display: block;
    padding: 16px 16px 18px 16px;
    position: absolute;
    right: 2px;
    background-color: transparent;
    border: none;
    border-radius: 0;
}
.main-navigation.toggled {

    display: block;
    right: 0px;
	width: 100%;
	background-color: #8a0808;

	.menu-primary-menu-container {
		width: 50%;
	}
    
    ul {
        width: 50%;
        display: block;
        position: absolute;
        height: auto;
        right: 0;
        margin: 48px 0 0 1px;
        background-image: linear-gradient(to left, rgb(242, 150, 2), transparent) ;
        text-align: center;
		transform: translateX(10%);
		transition: transform 5s ease-in;
		text-shadow: 1px 1px red;
	
    
        li a {
            padding: 3%;
			background-image: linear-gradient(to bottom,transparent, rgba(250, 245, 245, 0.5), transparent);
			width: 100%;
            
        }
    }
}

.burger-menu {
    display: flex;
    font-weight: 800;
    font-size: 1.5rem;
    color: #40282C;
	padding: 4%;
	margin: 0%;
}

@media screen and (min-width: 948px) {


	.menu-toggle {
		display: none;
	}

	.main-navigation ul {

		display: flex;
	}

}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}