/////////////////////////
//ABOUT SECTION
////////////////////////
.about-section {
    padding: 0px 130px 0px 130px;
    margin: 0 auto;
    .wp-block-column{
        margin-top: 100px;
        padding: 5px;

        h2{
            margin: 0px auto 20px auto;
            font-family: 'esthetique';
            font-style: normal;
            font-weight: 400;
        }

        p{
            padding-right: 20px;
            margin: 5px auto;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
        }

        .wp-block-column {

            .wp-block-buttons {
    
                .wp-block-button {
    
                    a{
                        border: 1px solid #091540;
    
                    }
                
                    a:visited{
                        display: none;
                    }
                }
            }
        }

        .wp-element-button {
            margin-top: 80px;
            a{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
            }
        }
    }
}

/////////////////////////
//PROJECT SECTION
////////////////////////
/// 
.project-section {
    margin-bottom: 0%;
    display: none;
}

.project-display{
    padding: 0px 90px 0px 90px;
    margin: 0 auto !important;

    .project-1{
        // padding-left: 50px;
    }
    .wp-block-columns{
        .project-text-r {
            // padding-right: 50px;
        }

        .project-text-l {
            // padding-left: 55px;
        }

        p{
            // width: 461px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
        }

        img{
            width: 590px;
            height: 328px;
        }

        a{
            // border: 1px solid #091540;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;

        }
        a:hover{
            // background-color: white !important;
            // color: #091540 !important;
        }
    
        a:active {
            // color: lightblue;
        }
    
        a:visited{
            display: none;
        }

    
    }
}

.info-boxes{
    width: 848px;
    margin: 0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    .info-box{
        // margin: 0px 200px;
        .wp-block-columns{
            // width: 50%;
            height: 250px;
            margin: 0 50px;

            h6 {
                margin: 10px auto;
            }
        }
    
    }
}


.case-study-section {

    h4 {
        font-size: 24px;
    }
    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }
}


@media screen and (max-width: 500px) {

    .top-spacer{
        display: none;
    }

    .about-section {
        padding: 0px 30px;

        .profile-pic-col{
            display: none;
        }

        .wp-block-column{
            margin-top: 70px;
            p{
                padding-right: 0px;
                font-size: 15px !important;
            }

            
                
            .wp-element-button{
                    margin-top: 10px;
            }
                
        }
    }

    .right {
        .wp-block-columns {
            flex-direction: column-reverse;
        }
    }
    .project-display{
        padding: 0 30px;
        .wp-block-columns {

            .project-text-l {
                padding-left: 0px ;
            }
        
        }
    }

}